*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 90%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
  /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAAEsCAMAAABgwwj8AAAAA1BMVEUPTILzXJjiAAAASElEQVR4nO3BMQEAAADCoPVPbQwfoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD+BsYMAAFjd3WkAAAAAElFTkSuQmCC); */
  background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
  background-size: cover;
}
body h3,h2,span,p,div,button,a{
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% ); */

}
html{
  scroll-behavior: smooth;
}

body {
  background: #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide {
    text-align: center;
    font-size: 10px;
    background: #fff;



    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
.facebook i,.inst i,.twit i{
  font-size: 20px;
  float: right;
}


.i_tel_mail{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  left: 10px;
  margin-left: 25px;
  font-size: 18px;
  overflow: hidden;
}

.heder_right i{
  margin: 5px;
  color: #fff;
}
.lang > img{
  height: 20px;
  width: 20px;
}


.i_tel_mail{
    color: white;
    margin: 10px;
    
}

.navbar_1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  /* background-color: rgb(59, 76, 132,0.8); */
  height: 10vh;
  border: 2px solid black;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuJXKvHqnPD8kk9qcYc8TnqSgMiFM-DXjikFFR0LZwxvymFskihV8XcOkveihOILt1dVA&usqp=CAU);
  background-size: cover;

}


.navbar_1{
  position:fixed;
  top: 0;
  width: 100%;
  transition: all .3s ease;
  z-index: 5;
}
.logo_img img{
  height: 9vh;
}
.logo_img{
  margin-right: 380px;
}

.navbar_1 a{
  font-size: 25px;
  color:white;
}
.navbar_1 > div{
  width: 10%;
  text-align: center;

}

/* .heder_down div:hover{
background-color: beige;
color: black;
border: 1px solid black;

} */




.hagkimizda{
  background-image: url(https://static.tildacdn.com/tild3832-3334-4130-a633-663933306636/download.jpg);
  background-size:cover;
  opacity: 0.8;
}
.yangin{
  background-image: url(yangin6.jpg);
  background-size: cover;
  background-position: 50%;
  text-align: center;
  opacity: 0.7;
}
.seans{
  background-image: url(https://static.tildacdn.com/tild3264-3336-4738-b565-666431623665/download.jpg);
  background-size: cover;
 background-position: 30%;
opacity: 0.7;
}
.mey_swipper{
  height: 80vh;
}
.haq{
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 30vh;
  align-items: center;
  justify-content: flex-end;
}
.haqkimizda_button{
  margin-top: 20px;
  height: 10vh;
  width: 20%;
  border-radius: 20px;
  background-color: rgba(133, 133, 246,0.1);
  color: white;
  border-color: white;

}
.haqkimizda_title{
font-size: 50px;
font-weight: bold;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: black;
mix-blend-mode: overlay;
}
.haqqimizda_title_2{
  color: black;
  font-size: 40px;
  mix-blend-mode:overlay;
}
.yangin_title{
  font-size: 40px;
font-weight: bold;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: black;
mix-blend-mode: overlay;
}
.yangin_title_2{
  color: black;
  font-size: 50px;
  mix-blend-mode:overlay;
}
.yangin_button button{
  margin-top: 20px;
  height: 10vh;
  width: 110px;
  border-radius: 20px;
  background-color: rgba(133, 133, 246, 0.1);
  color: white;
  border-color: white;
}
.seans_title{
  font-size: 50px;
font-weight: bold;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: black;
mix-blend-mode: overlay;
}
.seans_title_2{
  color: black;
  font-size: 50px;
  mix-blend-mode:overlay;
}
.seans_button{
  margin-top: 20px;
  height: 10vh;
  width: 60%;
  border-radius: 20px;
  background-color: rgba(111, 111, 245, 0.1);
  color: white;
  border-color: white;
}

.heder_haqkimizda_melumat{
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* background-color: #eee; */
}
.haqtitle_1{
  color: black;
  position: absolute;
  margin-bottom: 17%;
  margin-left: 35%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-weight: 1000;
  background-color: rgb(0, 0, 0,0.1);
  height: 10vh;
}
.haqtitle_2{
  background-image: url(https://st2.depositphotos.com/1518767/6902/i/600/depositphotos_69020967-stock-photo-warehouse-managers-and-worker-looking.jpg);
  mix-blend-mode:multiply;
  height: 99vh;
  background-size: cover;
}
.haqtitle_2 p {
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  transition: ease 1s;
  margin-top: 35%;
  font-style:oblique;
  color: black;
  mix-blend-mode: multiply;
}
.heder_haqkimizda_melumat{
  padding: 10px;
border: 2px solid black;
background-color: white;
}
/* .haqtitle_2:hover{
  background-color: white;
  transform: scaleX(1.0)scaleY(1.2)scaleZ(1.1);
  color: black;
} */
.heder_haqkimizda_melumat img{
  box-shadow: 0 0 5px;
  height: 50vh;

}
.main_cart{
  display: flex;
justify-content: space-around;
height: 50vh;
align-items: center;
margin-top: 5%;
}
.cart_tel i,.cart_mail i{
  font-size: 50px;
  color: rgb(88, 88, 252);
}
a {
  text-decoration: none;
}
.cart_tel,.cart_mail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 35%;
  height: 30vh;
  text-align: center;
}
.cart_tel p , .cart_mail p{
  font-size: 25px;
  margin: 10px;
  color: black;
}
.cart_tel button,.cart_mail button{
  font-size: 20px;
  border: none;
}
.cart_tel,.cart_mail{
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px 3px;
  transition: 2s;
}
.cart_tel:hover,.cart_tel button:hover,.cart_tel p:hover,.cart_tel i:hover,.cart_mail:hover,.cart_mail button:hover,.cart_mail p:hover,.cart_mail i:hover{
  color:rgb(100, 100, 246);
  transform: scaleX(1.1)scaleY(1.1);
}
a{
  color: black;
  border: none;
}
.teref_title{
  display: flex;
  justify-content: center;
  align-items:flex-end;
  font-size: 35px;
  height:12vh;
  margin-bottom: 100px;
}
.footer_img img{
  height: 15vh;
  width: 110%;
  margin-top: 20px;
  border: 1px solid white;
  box-shadow: 0px 0px 10px 1.5px;
  margin-bottom: 150px;
}
.footer_img{
  display: flex;
  height: 40vh;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 20px;
}
.cart_foot_1 img,.cart_foot_2 img,.cart_foot_3 img{
  position: relative;
  right: 1px;
  animation: soldangelsin 2s ease-in;
  overflow: hidden;
  transition: 2s;
}
@keyframes soldangelsin{
  10%{
    right: 1000px;
  }
}
.cart_foot_4 img,.cart_foot_5 img,.cart_foot_6 img{
  position: relative;
  left: 5px;
  animation: sagdangelsin 2s ease;
  overflow: hidden;
  transition: 2s;
}
@keyframes sagdangelsin{
  0%{
    left: 10000px;
  }
}
.cart_foot_1 img:hover,.cart_foot_2 img:hover,.cart_foot_3 img:hover,.cart_foot_4 img:hover,.cart_foot_5 img:hover,.cart_foot_6 img:hover{
  transform: scaleX(1.5) scaleY(1.1) scaleZ(0.5);

}
.sertifikat_title{
  text-align: center;
  font-size: 250%;
  margin-top:200px;
}

.footer_sert{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  justify-content: space-evenly;
  margin-top: 150px;
}
.footer_sert img:hover{
  height: 40vh;
transform: scale(1.5);
}
.footer_sertifikat{
  height: 20vh;
}
.footer_sert img{
  width: 15%;
  border: 1px solid whitesmoke;
  border-radius: 15%;
  box-shadow: 0rem 0.6rem 2.5rem 0.1rem;
  transition: 2s;
  margin-bottom: 300px;
}

.footer_tereftash_2{
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  margin-top: 80px;
  height:0.0005vh;
}
.footer_tereftash_2 img{
  height:20vh;
  width: 120%;
  margin-top: 5px;
}
.footer_tereftash_2_title{
text-align: center;
font-size: 35px;
justify-content: start;
height: 13vh;

}
.mep_title{
  margin-left: 30px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(255, 255, 255,0.3);
}
.mep_xidmetler{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8QL66jFhaYzCcx8wHhFcjM0cTsZzeWlRmNQ&usqp=CAU);
  border-radius: 30px;
  background-size: 25rem;
  box-shadow: grey 6px 2px 20px 10px;
  opacity: 0.8;
  padding: 60px;
  font-size: 20px;
}
.mep_xidmetler:hover,.building_xidmetler:hover,.yangin_xidmetler:hover,.it_xidmetler:hover,.sks_xidmetler:hover,.ses_xidmetler:hover,.camera_xidmetler:hover{
opacity: 1;
transition: 2ms;
box-shadow: none;
}
.buildinqg_title {
  border-radius: 10px;
  font-size: 20px; 
   background-color: rgb(255, 255, 255,0.3);
}
.building_xidmetler{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvaZqXCCRcCHbEZjpEO4QCC9pTTDSq9iHeneZVmNHi&s);
  border-radius: 30px;
  box-shadow: grey 6px 2px 20px 10px;
  opacity: 0.8;
  padding: 60px;
  font-size: 20px;
}
.yangin_xidmetler{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUc8zALU_xsSIy-GZmLjc367cV2knKinq5Sw&usqp=CAU);
  background-size:43vh;
  border-radius: 30px;
  box-shadow: grey 6px 2px 20px 10px;
  opacity: 0.8;
  padding: 60px;
  font-size: 20px;
}
.it_xidmetler{
  background-image: url(https://protech.az/wp-content/uploads/2015/01/protech-xidmetler.jpg);
  background-size:55vh;
  border-radius: 30px;
  box-shadow: grey 6px 2px 20px 10px;
  opacity: 0.8;
  padding: 60px;
  font-size: 20px;
}
.sks_xidmetler{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Wikimedia_Foundation_Servers-8055_13.jpg/1280px-Wikimedia_Foundation_Servers-8055_13.jpg);
  background-size:43vh;
  width: 24%;
  height: 20vh;
  border-radius: 30px;
  box-shadow: grey 6px 2px 20px 10px;
  opacity: 0.8;
  padding: 60px;
  font-size: 20px;
}
.ses_xidmetler{
  background-image: url(https://hurkanelektronik.com/wp-content/uploads/2020/03/sessistemleri-300x300.jpg);
  background-size:55vh;
  width: 25%;
  height: 20vh;
  border-radius: 30px;
  box-shadow: grey 6px 2px 20px 10px;
  opacity: 0.8;
  padding: 60px;
  font-size: 20px;
}
.camera_xidmetler{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNpgFiGh4I57QpYw7YXLWFqp-kUun_Nd0kTfnP0RbKwQOa1mWcnvwveOjnA5XgxgiEyNY&usqp=CAU);
  background-size:55vh;
  width: 25%;
  height: 20vh;
  border-radius: 30px;
  box-shadow: grey 6px 2px 20px 10px;
  opacity: 0.8;
  padding: 60px;
  font-size: 20px;
}
.xidmetlerimiz{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  justify-content:space-around;
  height: 80vh;
  margin-bottom: 40px;
}
.xidmetlerimiz div{
  margin-top: 10rem;
  /* margin: 60px; */
/* margin-top: 60px; */
}
.xidmetlerimiz_title{
  text-align: center;
  font-size: 300%;
  margin-top: 30px;
}
.footer_end{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuJXKvHqnPD8kk9qcYc8TnqSgMiFM-DXjikFFR0LZwxvymFskihV8XcOkveihOILt1dVA&usqp=CAU);
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 200px;
}
.footre_img{
height: 9vh;
}

.end_title_2,.end_title_1{
  color: white;
  font-size: 20px;
}
.end_title_2 i,a{
  color: white;
  margin: 8px
}

@media only screen and (max-width:400px) { 
  
  body{
    width: 400px;
  }
  .navbar_1 div{
    display: none;
  }
  .navbar_1{
  
  }
}
